APP_NAME=TeleSender
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_KEY=change-me
APP_TIMEZONE=Asia/Ho_Chi_Minh

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tele_sender
DB_USER=root
DB_PASS=

SESSION_NAME=tele_sender_session
ALLOW_REGISTRATION=true

TELEGRAM_API_ID=
TELEGRAM_API_HASH=

CRON_TOKEN=change-cron-token
MIGRATE_TOKEN=change-migrate-token
